<div id='support-form'>
  <%= form_for(@support_stats) do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="control-group">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <%= f.submit 'Help Me!' %>
  <% end %>
</div>