<%= javascript_include_tag "support_form/stats" %>

<div id='support-form'>
  <%= form_for(@support_stats) do |f| %>
  <div class="control-group">
    <%= f.label :categories %>
    <%= f.text_field :categories, value: "" %>
  </div>
  <div>
    <%= link_to "Add a Category", "#", id: "add_category" %>
  </div>
  <% @support_stats.categories.each do |s| %>

  <% end %>
  <div class="control-group">
    <%= f.label :recipient_email %>
    <%= f.email_field :recipient_email %>
  </div>
  <%= f.submit 'Create Categories' %>
  <% end %>
</div>


<script>
  $(document).ready(function() {
    $('#add_category').click(function(e) {
      e.preventDefault();
      if($("[id^=support_form_stat_categories]").length == 1) {
        count = 1
        name = $("#support_form_stat_categories").first().attr("name");
        $("#support_form_stat_categories").first().attr("name", name + "[0]");
      } else {
        count++;
      }
      $(this).before("<div class='control-group cat-field'> <label for='support_form_stat_categories'>Category name</label>    <input id='support_form_stat_categories"+"_"+1+"' name='support_form_stat[categories]["+ count +"]' size='30' type='text'></div>")
    })
  })
</script>