<%= javascript_include_tag "support_form/stats_form" %>

<div id='support-form'>
<table>
<% if competition.support_stats.categories.any? %>
  <% competition.support_stats.categories.each_with_index do |s, i| %>
    <tr>
      <td><%= f.text_field :categories, value: s.first, class: :category_name %></td>
      <td><%= f.text_field :category_value, value: s.last, size: 4, class: :category_value  %></td>
      <td><a href='#' class='delete_category'>Delete</a></td>
    </tr>

  <% end %>
    <% else %>
    <tr>
      <td><%= f.text_field :categories, value: "", class: :category_name %></td>
      <td><%= f.text_field :category_value, value: 0, size: 4, class: :category_value  %></td>
      <td><a href='#' class='delete_category'>Delete</a></td>
    </tr>
  <% end %>
</table>
  <div>
    <%= link_to "Add a Category", "#", id: "add_category" %>
  </div>

  <div class="control-group">
    <%= f.label :recipient_email %>
    <%= f.text_field :recipient_email %>
  </div>

  <div class="control-group">
    <%= f.label :sender_email, "Sender Email - Leave blank for default mailer address" %>
    <%= f.email_field :sender_email %>
  </div>
</div>
<%= content_tag(:div, link_to( "No Support", "#"), id: "no-support") if @competition.support_stats.new_record? %>
<!-- <div id="destroy-support"><%#= link_to "Destroy Support", "#" %></div> -->
<div id="create-support" style="display: none;"><%= link_to "Create Support Form", "#" %></div>
