<% content_for :head do %>
  <%= stylesheet_link_tag "support_form/stats" %>
<% end %>

<h1>SupportForm::Stats#index</h1>
<table class="index-display">
<tr>
  <thead>
    <td>ID</td>
    <td>Stats</td>
    <td>Recipient Email</td>
    <td span=3>Buttons</td>
  </thead>
  </tr>
<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.id %></td>
    <td><%= stat.stats.to_s.truncate(25) %> (<%= stat.stats.count %>)</td>
    <td><%= stat.recipient_email %></td>
    <td><%= link_to "Show", stat  %></td>
    <td><%= link_to "Edit", edit_support_form_stat_path(stat) %></td>
    <td><%= button_to "Delete", stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to "New Support Form", new_support_form_stat_path %>